@import 'fonts';
@import 'vars';
@import 'global';


//start header
.header{
  &__wrapper{
    background-image: url(../images/backgrounds/header-bg.png);
    background-repeat: no-repeat;
    background-position: top 22px right 38px;
    background-size: contain;
  }
  &__top{
    height: 170px;
  }
  &__offer{
    margin-top: 50px;
    padding-bottom: 268px;
    &-title{
      font-size: 60px;
      line-height: 72px;
      color: $dark;
      margin-bottom: 20px;
      span{
        color: #666;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        display: block;
      }
    }
    &-subtitle{
      font-size: 24px;
      line-height: 32px;
      color: $dark;
      margin-bottom: 50px;
    }
  }
  &__btn{
    @extend %btn;
  }
}
.menu{
  margin-left: 100px;
  &__item + &__item{
    margin-left: 40px;
  }
  &__link{
    font-size: 20px;
    line-height: 23px;
    color: #7E7F86;
    font-weight: 500;
    transition: all .3s;
    &:hover{
      color: #25202F;
    }
  }
}
.menu-btn{
  box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
  width: 70px;
  height: 70px;
  display: none;
}
//end header


//start services
.services{
  padding-bottom: 50px;
  &__title{
    margin-bottom: 65px;
  }
  &__item{
    margin-bottom: 50px;
  }
  &__item-title{
    font-size: 24px;
    color: $dark;
    font-weight: 500;
    padding-left: 82px;
    margin-bottom: 35px;
  }
  &__title-icon{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 62px;
    height: 61px;
    background-image: url(../images/backgrounds/services-item-title.png);
    background-size: cover;
    background-position: center;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-size: cover;
      background-position: center;
    }
    &--mobile::after{
      background-image: url(../images/icons/mobile-icon.svg);
      width: 17px;
      height: 28px;
    }
    &--brand::after{
      background-image: url(../images/icons/brand-icon.svg);
      width: 28px;
      height: 28px;
    }
    &--dev::after{
      background-image: url(../images/icons/develop-icon.svg);
      width: 28px;
      height: 28px;
    }
  }
}
//end services

//start portfolio
.portfolio{
  padding-bottom: 68px;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
    filter: blur(150px);
  }
  &__img{
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__link{
    font-size: 24px;
    color: $dark;
    font-weight: 500;
    padding-right: 34px;
    transition: all .3s;
    &:hover{
      color: $lilac;
    }
    &::after{
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../images/icons/arrow-right.svg);
      width: 24px;
      height: 24px;
    }
  }
}
//end portfolio


//start clients
.clients{
  padding: 100px 0 50px;
  &__title{
    margin-bottom: 44px;
  }
  &__logo{
    margin-bottom: 30px;
  }
  &__item{
    max-width: 170px;
    border: 1px solid;
    transition: all .5s;
    bottom: 0;
    margin-bottom: 50px;
    cursor: pointer;
    &:hover{
      transform: rotate(45deg);
      bottom: 30px;
      box-shadow: 40px 40px 100px rgba(#000, .3);
    }
    &::before{
      content: '';
      position: absolute;
      filter: blur(100px);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &--slack{
      background-color: #FFF7FA;
      border-color: #FFE7F0;
      &::before{
        background: #FFD7E9;
      }
    }
    &--medium{
      background-color: #EDFFF5;
      border-color: #CAFFE1;
      &::before{
        background: #BCFFDB;
      }
    }
    &--microsoft{
      background-color: #F5FCFF;
      border-color: #DDF5FF;
      &::before{
        background: #CEF2FF;
      }
    }
    &--zeplin{
      background-color: #FFFBF2;
      border-color: #FFEEC9;
      &::before{
        background: #FFE9BC;
      }
    }
    &--shopify{
      background-color: #F4FFED;
      border-color: #DBFFC4;
      &::before{
        background: #D2FFB5;
      }
    }
  }
  &__name{
    font-weight: 500;
    color: #000;
    font-size: 18px;
    line-height: 24px;
  }
  &__item-inner{
    padding: 33px 20px;
    transition: all .5s;
    &:hover{
      transform: rotate(-45deg);
    }
  }
}
//end clients


//start testimonials
.testimonials{
  padding: 50px 0 123px;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(203, 163, 255, 0.2) 0%, rgba(197, 255, 176, 0.2) 100%);
    filter: blur(150px);
    transform: rotate(-180deg);
  }
  &__wrapper{
    z-index: 5;
  }
  &__title{
    margin-bottom: 25px;
  }
  &__item-text{
    max-width: 570px;
    color: #636066;
    font-weight: 500;
    margin-bottom: 50px;
    padding-top: 62px;
    &::before{
      content: '';
      position: absolute; 
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: url(../images/icons/quotes.svg);
      width: 42px;
      height: 42px;
    }
  }
  &__text-author{
    color: #000;
  }
  &__author-img{
    width: 98px;
    height: 98px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
  }
  &__author-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 5px;
  }
  &__author-about{
    line-height: 21px;
  }
  &__indicators{
    bottom: -56px;
  }
  &__btn{
    width: 10px;
    height: 10px;
    border: 1px solid #DEBAD9;
  }
  .carousel-indicators [data-bs-target]{
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #DEBAD9;
    border-top: 1px solid #DEBAD9;
    border-bottom: 1px solid #DEBAD9;
    opacity: 1;
    border-radius: 50%;
    transition: all .3s;
    &.active{
      background-color: $lilac;
    }
  }
  &__blured-img{
    filter: blur(2px);
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    transition: all .5s;
    z-index: 10;
    &:hover{
      filter: blur(0);
      width: 90px;
      height: 90px;
    }
    &-1,
    &-2{
      top: 35px;
    }
    &-1{
      left: 28px;
    }
    &-2{
      right: 28px;
    }
    &-3,
    &-4{
      bottom: -5px;
    }
    &-3{
      left: 165px;
    }
    &-4{
      right: 147px;
    }
  }
}
//end testimonials


//start blog
.blog{
  padding: 100px 0 70px;
  &__item-img{
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 233px;
    margin-bottom: 20px;
  }
  &__item{
    max-width: 255px;
    height: 350px;
    color: #fff;
    transition: all .8s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
    &:hover{
      max-width: 350px;
      background-size: 100% 233px;
      background-image: none;
      display: block;
      .blog__item-img{
        display: block;
      }
      .blog__item-title{
        color: #000;
      }
      .blog__item-inner{
        padding: 0 0 20px;
      }
      .blog__item-date{
        color: $lilac;
        margin-bottom: 10px;
      }
      &::after{
        opacity: 0;
      }
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #25202F 100%);
      transition: all .3s;
    }
  }
  &__item-inner{
    z-index: 5;
    padding: 0 20px 30px;
    transition: all .3s;
  }
  &__item-date{
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 2px;
  }
  &__item-title{
    font-size: 20px;
    line-height: 26px;
    transition: all .3s;
  }
}
//end blog


//start footer
.footer{
  padding: 50px 0;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(187, 133, 255, 0.166) -8.54%, rgba(255, 244, 251, 0.2) 100%);
    filter: blur(150px);
  }
  &__wrapper{
    z-index: 5;
  }
  &__title{
    line-height: 52px;
    color: #21232D;
    font-weight: 500;
    margin-bottom: 50px;
  }
  &__link{
    color: $lilac;
    font-size: 24px;
    line-height: 28px;
    &:hover{
      color: $lilac;
    }
  }
  &__form-input{
    line-height: 26px;
    font-size: 20px;
    border-bottom: 1px solid #DAD2E3;
    height: 60px;
    outline: none;
    & + &{
      margin-top: 28px;
    }
    &::placeholder{
      color: #A8A0B0;
    }
  }
  &__form-textarea{
    padding-top: 16px;
  }
  &__form-btn{
    @extend %btn;
  }
  &__add-link{
    margin-right: 15px;
  }
  &__social{
    margin-top: 100px;
    &-title{
      color: #21232D;
      font-weight: 500;
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 30px;
    }
    &-link{
      background-image: url(../images/backgrounds/services-item-title.png);
      width: 50px;
      height: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      line-height: 50px;
      margin: 0 20px;
    }
  }
}
//end footer


@import 'media';